///////////////////////////
///// Main Window /////
///////////////////////////
.mainWindow {
	width: 100%;
	min-height: 100vh;
}

.health-bar {
	width: 48%;
	height: 50%;
	border: 0.25vh solid grey;
	background-color: rgb(155, 155, 155);
}

.armour-bar {
	width: 48%;
	height: 50%;
	border: 0.25vh solid grey;
	background-color: rgb(155, 155, 155);
}

.hunger-bar {
	width: 18%;
	height: 50%;
	border: 0.25vh solid grey;
	background-color: rgb(155, 155, 155);
}

.thirst-bar {
	width: 18%;
	height: 50%;
	border: 0.25vh solid grey;
	background-color: rgb(155, 155, 155);
}

.drunkness-bar {
	width: 18%;
	height: 50%;
	border: 0.25vh solid grey;
	background-color: rgb(155, 155, 155);
}

.voice-bar {
	width: 38%;
	height: 50%;
	border: 0.25vh solid grey;
	background-color: rgb(155, 155, 155);
}